.footer{
    color: #0093fc;
    background-color: #000000;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 20px 10vw;
    padding-top: 50px;
}
.footer-content{
    width: 100%;
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    gap: 80px;
}
.footer-content-left , .footer-content-center , .footer-content-right {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 20px;
}
.footer-content-left ul li, .footer-content-center ul li, .footer-content-right ul li{
    margin-bottom: 10px;
    list-style: none;
}
.footer-content-left h2, .footer-content-center h2, .footer-content-right h2{
    color: rgb(255, 255, 255);
}
.footer-social-icons img{
    width: 50px;
}
.footer-social-icons{
    display: flex;
    gap: 15px;
}
.footer li{
    cursor: pointer;
    color: rgb(31, 197, 252);
}
.footer hr{
    width: 100%;
    height: 2px;
    margin: 20px 0px;
}
.footer p{
    color: aqua;
    font-size:larger ;
}
@media (max-width:750px) {
    .footer-content{
        display: flex;
        flex-direction: column;
        gap: 35px;
    }
    .footer-copyright{
        text-align: center;
    }
}