.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 4%;
    background-image: linear-gradient(rgb(159, 255, 255),rgb(255, 255, 255));
}
.navbar .Logoweb{
    width: max(15%,20px);
}
.navbar .profile{
    width: 30px;
}